// Make sure the charset is set appropriately
@charset "UTF-8";

// Behold, here are all the Foundation components.
@import "normalize.scss"
//  ,"foundation/components/accordion"
//  ,"foundation/components/alert-boxes"
  ,"foundation/components/block-grid"
//  ,"foundation/components/breadcrumbs"
//  ,"foundation/components/button-groups"
//  ,"foundation/components/buttons"
  ,"foundation/components/clearing"
//  ,"foundation/components/dropdown"
//  ,"foundation/components/dropdown-buttons"
//  ,"foundation/components/flex-video"
  ,"foundation/components/forms"
  ,"foundation/components/grid"
  ,"foundation/components/inline-lists"
//  ,"foundation/components/joyride"
//  ,"foundation/components/keystrokes"
  ,"foundation/components/labels"
//  ,"foundation/components/magellan"
//  ,"foundation/components/orbit"
//  ,"foundation/components/pagination"
//  ,"foundation/components/panels"
//  ,"foundation/components/pricing-tables"
//  ,"foundation/components/progress-bars"
//  ,"foundation/components/reveal"
  ,"foundation/components/side-nav"
//  ,"foundation/components/split-buttons"
//  ,"foundation/components/sub-nav"
//  ,"foundation/components/switch"
  ,"foundation/components/tables"
//  ,"foundation/components/tabs"
  ,"foundation/components/thumbs"
//  ,"foundation/components/tooltips"
  ,"foundation/components/top-bar"
  ,"foundation/components/type"
//  ,"foundation/components/offcanvas"
//  ,"foundation/components/visibility"
;

// https://dvcs.w3.org/hg/FXTF/raw-file/tip/filters/index.html 
//
// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);
@mixin filter($filter-type,$filter-amount) { 
    -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
    -moz-filter: $filter-type+unquote('(#{$filter-amount})');
    -ms-filter: $filter-type+unquote('(#{$filter-amount})');
    -o-filter: $filter-type+unquote('(#{$filter-amount})');
    filter: $filter-type+unquote('(#{$filter-amount})');
}

.clearing-thumbs.small-block-grid-3 li,
.clearing-thumbs.small-block-grid-6 li {
    margin-right: 0;
}
.classified-list-item-preview {
    height: 250px;

    img {
        max-height: 97%;
    }
}
.classified-main-image {
    img {
        max-height: 350px;
    }
}

.classified-map {
    width: 100%;
    height: 300px;
}

.classified-list-item {
    &.is_deleted {
        opacity: 0.6;
        @include filter(grayscale, 100%);
    }
    &.is_active {
    }
}
