<form action="/api/classifieds{{#if id}}/{{id}}{{/if}}" method="POST">
    {{#if id}}
    <input type="hidden" name="_method" value="put">
    {{/if}}

    <div class="row">
        <div class="small-7 columns">
            {{> classified/_form_identity }}
        </div>
        <div class="small-5 columns">
            {{> classified/_form_parameters }}
        </div>
    </div>
    <div class="row">
        <div class="small-7 columns">
            <p>Something here</p>
        </div>
        <div class="small-5 columns">
            {{> classified/_form_costs }}
        </div>
    </div>

    <div class="row">
        {{#if id}}
            {{linkToClassified this}}
        {{/if}}
        <input type="submit" name="submit" value="Envoyer" id="submit" class="button round right">
    </div>
</form>

