<form action="/api/classifieds{{#if id}}/{{id}}{{/if}}" method="POST">
    {{#if id}}
    <input type="hidden" name="_method" value="put">
    {{/if}}

    <div class="row">
        <div class="small-7 columns">
            {{> classified/_form_identity }}
        </div>
        <div class="small-5 columns">
            {{> classified/_form_parameters }}
            {{> classified/_form_costs }}
            {{> classified/_images }}
        </div>
    </div>

    <div class="row">
        {{#if id}}
            {{linkToClassified this}}
            <a href="#" class="classified-delete button alert tiny">Supprimer</a>
            <a href="{{this.link}}"  class="classified-form-link-external button secondary tiny" target="_blank">Voir sur le site</a>
        {{/if}}
        <input type="submit" name="submit" value="Envoyer" id="submit" class="button radius right">
        <a href="{{url "classifieds"}}" class="classified-delete button secondary radius right">Retour à la liste</a>
    </div>
</form>

