    <div class="row">
      <div class="small-3 columns">
        <label for="link" class="right inline">Lien</label>
      </div>
      <div class="small-9 columns">
        <input type="url" name="link" value="{{this.link}}" id="link">
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns">
        <label for="name" class="right inline">Titre</label>
      </div>
      <div class="small-9 columns">
        <input type="text" name="name" value="{{name}}" id="name">
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns">
        <label for="adresse" class="right inline">Adresse</label>
      </div>
      <div class="small-9 columns">
        <textarea name="adresse" id="adresse">{{address}}</textarea>
      </div>
    </div>

