    <div class="row">
      <div class="small-3 columns">
        <label for="surface" class="right inline">Prix</label>
      </div>
      <div class="small-9 columns">
        <div class="row collapse">
            <div class="small-10 columns">
                <input type="number" name="price" value="{{price}}" id="price">
            </div>
            <div class="small-2 columns">
                <span class="postfix">€</span>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <label for="surface" class="right inline">Surface</label>
      </div>
      <div class="small-9 columns">
        <div class="row collapse">
            <div class="small-10 columns">
                <input type="number" name="surface" value="{{surface}}" id="surface">
            </div>
            <div class="small-2 columns">
                <span class="postfix">m2</span>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns">
        <label for="etage" class="right inline">Etage</label>
      </div>
      <div class="small-9 columns">
        <input type="number" name="etage" value="{{etage}}" id="etage">
      </div>
    </div>

