    <div class="row">
      <div class="small-5 columns">
        <label for="charges" class="right inline">Charges</label>
      </div>
      <div class="small-7 columns">
        <div class="row collapse">
            <div class="small-8 columns">
                <input type="number" name="charges" value="{{charges}}" id="charges">
            </div>
            <div class="small-4 columns">
                <span class="postfix">€ / mois</span>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-5 columns">
        <label for="taxe_habitation" class="right inline">Taxe Habitation</label>
      </div>
      <div class="small-7 columns">
        <div class="row collapse">
            <div class="small-8 columns">
                <input type="number" name="taxe_habitation" value="{{taxe_habitation}}" id="taxe_habitation">
            </div>
            <div class="small-4 columns">
                <span class="postfix">€ / an</span>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-5 columns">
        <label for="taxe_foncier" class="right inline">Taxe Foncier</label>
      </div>
      <div class="small-7 columns">
        <div class="row collapse">
            <div class="small-8 columns">
                <input type="number" name="taxe_foncier" value="{{taxe_foncier}}" id="taxe_foncier">
            </div>
            <div class="small-4 columns">
                <span class="postfix">€ / an</span>
            </div>
        </div>
      </div>
    </div>

