<h3 class="classified-title">{{name}}</h3>

<p><img src="{{first images}}" /></p>

<ul class="inline-list">
    <li>{{linkToClassified this}}</li>
    <li>{{linkTo "Editer" "classifieds/" _id "/edit"}}</li>
</ul>
