<h3 class="classified-title">{{name}}</h3>

{{linkTo "Retour à la liste" "classifieds"}}
{{linkTo "Editer" "classifieds/" id "/edit"}}

{{#linkToEvent "foo:bar"}}
    Envoyer un message
{{/linkToEvent}}
