{% extends "landing/layout.html" %}

{% block bodyclass %}signup-page access-page has-full-screen-bg{% endblock %}

{% block content %}
    <div class="sections-wrapper">
        <!-- ******Login Section****** -->
        <section class="login-section access-section section">
            <div class="container">
                <div class="row">
                    <iframe style="border: 0; height: 200px; width: 600px;" src="https://piwik.muetton.me/index.php?module=CoreAdminHome&action=optOut&language=fr"></iframe>
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//contact-section-->
    </div><!--//upper-wrapper-->
{% endblock %}
