{% extends "landing/layout.html" %}

{% block bodyclass %}home-page{% endblock %}

{% block content %}
<div class="bg-slider-wrapper">
    <div class="flexslider bg-slider">
        <ul class="slides">
            <li class="slide slide-1"></li>
            <li class="slide slide-2"></li>
            <li class="slide slide-3"></li>
            <li class="slide slide-4"></li>
        </ul>
    </div>
</div><!--//bg-slider-wrapper-->

<section class="promo section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Simplifions la recherche immobilière<br /></h2>
        <p class="intro">Organisez, enregistrez, enrichissez les annonces qui vous plaisent<br />et profitez instantanément d'informations supplémentaires !</p>
        <p><a class="btn btn-cta btn-cta-primary" href="/register">Créez votre compte gratuitement</a></p>
        <button type="button" class="play-trigger btn-link " data-toggle="modal" data-target="#modal-video" data-backdrop="static" data-keyboard="false"><i class="fa fa-youtube-play"></i> Watch the video</button>
    </div><!--//container-->
</section><!--//promo-->

<div class="sections-wrapper">

    <!-- ******Why Section****** -->
    <section id="why" class="section why">
        <div class="container">
            <h2 class="title text-center">Marre des mails et des feuilles de calcul ?</h2>
            <p class="intro text-center">Centralisez votre recherche immobilière en un seul endroit, partagez avec ceux que vous aimez et voyez en un coup d'oeil si une annonce vaut le coup ou non.</p>
            <div class="row item">
                <div class="content col-md-4 col-sm-12 col-xs-12">
                    <h3 class="title">Retrouvez toutes vos annonces</h3>
                    <div class="desc">
                        <p>Parcourez les annonces immobilières sur <a href="http://leboncoin.fr">le bon coin</a>, <a href="http://seloger.com">se loger</a> ou encore <a href="fnaim">FNAIM</a>, et ajoutez vos trouvailles.</p>
                        <p>Retrouvez vos annonces favorites sur recherche.immo, ajoutez vos commentaires et visualisez simplement l'étude financière.</p>
                    </div>
                    <div class="quote">
                        <div class="quote-profile">
                            <img class="img-responsive img-circle" src="assets/images/people/profile-s-1.png" alt="" />
                        </div><!--//profile-->
                        <div class="quote-content">
                            <blockquote><p>Grâce à <a href="https://twitter.com/recherche_immo" target="_blank">@recherche_immo</a> j'ai tout de suite vu que c'était une bonne affaire</p></blockquote>
                            <p class="source">@themouette, Clermont-Ferrand</p>
                        </div><!--//quote-content-->
                    </div><!--//quote-->
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <img class="img-responsive" src="assets/images/figures/figure-1.png" alt="" />
                    <figcaption class="figure-caption">(Screenshot: Coral - App &amp; website startup kit) </figcaption>
                </figure>
            </div><!--//item-->

            <div class="row item">
                <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                    <h3 class="title">Posez les bonnes questions</h3>
                    <div class="desc">
                        <p>Au moment d'appeler, recherche.immo vous propose un ensemble de renseignements à demander, charges mensuelles, taxe foncière, adresse complète.</p>
                        <p>Vous voyez le coût réel du bien, frais de notaire et charges inclues.</p>
                        <p><i class="fa fa-download"></i> <a href="download.html">Download mobile versions</a></p>
                    </div>

                    <div class="quote">
                        <div class="quote-profile">
                            <img class="img-responsive img-circle" src="assets/images/people/profile-s-2.png" alt="" />
                        </div><!--//profile-->
                        <div class="quote-content">
                            <blockquote><p>Avec <a href="https://twitter.com/recherche_immo" target="_blank">@recherche_immo</a>, je n'oublie plus de poser la bonne question</p></blockquote>
                            <p class="source">@CamilleM, Annecy</p>
                        </div><!--//quote-content-->
                    </div><!--//quote-->
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                    <img class="img-responsive" src="assets/images/figures/figure-2.png" alt="" />
                    <div class="control text-center">
                        <button type="button" class="play-trigger" data-toggle="modal" data-target="#modal-video"><i class="fa fa-play"></i></button>
                    </div><!--//control-->
                </figure>
            </div><!--//item-->

            <div class="row item ">
                <div class="content col-md-4 col-sm-12 col-xs-12">
                    <h3 class="title">Easy to customise</h3>
                    <div class="desc">
                        <p>Explain one of your product benefits here. Let users know how they can benefit using your product. It’s also a good idea to back it up with a testimonial or tweet from your users.</p>
                        <p>The original PSD of the graphic is included in the package. You can easily customise the PSD to meet your needs.</p>
                    </div>
                    <div class="quote">
                        <div class="quote-profile">
                            <img class="img-responsive img-circle" src="assets/images/people/profile-s-3.png" alt="" />
                        </div><!--//profile-->
                        <div class="quote-content">
                            <blockquote><p>Nice template! It’s practical and there is no gimmicks. Very easy to customise as well!</p></blockquote>
                            <p class="source"><a href="#">@AlexD</a>, London</p>
                        </div><!--//quote-content-->
                    </div><!--//quote-->
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <img class="img-responsive" src="assets/images/figures/figure-3.png" alt="" />
                    <figcaption class="figure-caption">(Screenshot: <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/?ref=3wm" target="_blank">Tempo - Bootstrap template for startups)</a> </figcaption>

                </figure>
            </div><!--//item-->

            <div class="row item last-item">
                <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                    <h3 class="title">Connect your users</h3>
                    <div class="desc">
                        <p>Explain one of your product benefits here. Let users know how they can benefit using your product. It’s also a good idea to back it up with a testimonial or tweet from your users.</p>
                        <p>The original PSD of the graphic is included in the package. You can easily customise the PSD to meet your needs.</p>

                    </div>

                    <div class="quote">
                        <div class="quote-profile">
                            <img class="img-responsive img-circle" src="assets/images/people/profile-s-4.png" alt="" />
                        </div><!--//profile-->
                        <div class="quote-content">
                            <blockquote><p>I can connect to like-minded people lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p></blockquote>
                            <p class="source">@JackT, San Francisco</p>
                        </div><!--//quote-content-->
                    </div><!--//quote-->
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                    <img class="img-responsive" src="assets/images/figures/figure-4.png" alt="" />
                </figure>
            </div><!--//item-->


            <div class="feature-lead text-center">
                <h4 class="title">Want to discover all the features?</h4>
                <p><a class="btn btn-cta btn-cta-secondary" href="features.html">Take a Tour</a></p>
            </div>
        </div><!--//container-->
    </section><!--//why-->

    <!-- ******Testimonials Section****** -->
    <section class="section testimonials">
        <div class="container">
            <h2 class="title text-center">What are people saying about Velocity?</h2>
            <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                    <li data-target="#testimonials-carousel" data-slide-to="2"></li>
                </ol><!--//carousel-indicators-->
                <div class="carousel-inner">
                    <div class="item active">
                        <figure class="profile"><img src="assets/images/people/profile-m-1.png" alt="" /></figure>
                        <div class="content">
                            <blockquote>
                            <i class="fa fa-quote-left"></i>
                            <p>We used Velocity as a front-end design template for our product site. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit tortor, consectetur vitae varius at, interdum eget libero. Morbi.</p>
                            </blockquote>
                            <p class="source">Kevin Knight<br /><span class="title">Co-Founder, Startup Hub</span></p>
                        </div><!--//content-->
                    </div><!--//item-->
                    <div class="item">
                        <figure class="profile"><img src="assets/images/people/profile-m-2.png" alt="" /></figure>
                        <div class="content">
                            <blockquote>
                            <i class="fa fa-quote-left"></i>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint.</p>
                            </blockquote>
                            <p class="source">Diana	Luna<br /><span class="title">Entrepreneur, Maecenas</span></p>
                        </div><!--//content-->
                    </div><!--//item-->
                    <div class="item">
                        <figure class="profile"><img src="assets/images/people/profile-m-3.png" alt="" /></figure>
                        <div class="content">
                            <blockquote>
                            <i class="fa fa-quote-left"></i>
                            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
                            </blockquote>
                            <p class="source">Tony Lee<br /><span class="title">CTO, Lorem Ipsum</span></p>
                        </div><!--//content-->
                    </div><!--//item-->
                </div><!--//carousel-inner-->

            </div><!--//carousel-->
        </div><!--//container-->
    </section><!--//testimonials-->

    <!-- ******Press Section****** -->
    <section class="section press">
        <div class="container text-center">
            <h2 class="title">Press Coverage</h2>
            <ul class="press-list list-inline row">
                <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/images/press/press-1.png" alt="" /></a></li>
                <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/images/press/press-2.png" alt="" /></a></li>
                <li class="col-md-2 col-sm-2 col-xs-4 xs-break"><a href="#"><img class="img-responsive" src="assets/images/press/press-3.png" alt="" /></a></li>
                <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/images/press/press-4.png" alt="" /></a></li>
                <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/images/press/press-5.png" alt="" /></a></li>
                <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/images/press/press-6.png" alt="" /></a></li>
            </ul><!--//press-list-->
            <ul class="press-list list-inline row last">
                <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/images/press/press-7.png" alt="" /></a></li>
                <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/images/press/press-8.png" alt="" /></a></li>
                <li class="col-md-2 col-sm-2 col-xs-4 xs-break"><a href="#"><img class="img-responsive" src="assets/images/press/press-9.png" alt="" /></a></li>
                <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/images/press/press-10.png" alt="" /></a></li>
                <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/images/press/press-11.png" alt="" /></a></li>
                <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/images/press/press-12.png" alt="" /></a></li>
            </ul><!--//press-list-->

            <div class="press-lead text-center">
                    <h3 class="title">Have press inquires?</h3>
                    <p class="press-links"><a href="#">Download our press kit</a> or <a href="contact.html">Get in touch</a></p>
            </div>

        </div><!--//container-->
    </section><!--//press-->

    <!-- ******CTA Section****** -->
    <section id="cta-section" class="section cta-section text-center home-cta-section">
        <div class="container">
            <h2 class="title">Ready to promote your product online?</h2>
            <p class="intro">More than <span class="counting">300,000</span> users are using Velocity</p>
            <p><a class="btn btn-cta btn-cta-primary" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">Get Velocity Now</a></p>
        </div><!--//container-->
    </section><!--//cta-section-->

</div><!--//section-wrapper-->


<!-- Video Modal -->
<div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="videoModalLabel" class="modal-title sr-only">Video Tour</h4>
            </div>
            <div class="modal-body">
                <div class="video-container">
                    <iframe src="//player.vimeo.com/video/28872840?color=ffffff&amp;wmode=transparent" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div><!--//video-container-->
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div><!--//modal-dialog-->
</div><!--//modal-->
{% endblock %}

